  .button {
  background-color: #e1eff7;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  cursor: pointer;
}

.button1 {
  background-color: skyblue;
    color: seagreen;
    border-radius: 4px;

}
.button1:hover {
    background-color: seagreen; 
  color: skyblue; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
border-radius: 12px;
}
  h1{
    font-family: papyrus;
    color: black;
    text-align: center;
    font-size: 40px;
  }
  h2 {
    font-family: papyrus;
    color: black;
    text-align: center;
  }
  
  #list {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #ffffff;
    font-size: 18px;
  }
  
  #alignleft {
    
    float: left;
  }
  
  #alignright {
    
    float: right;
  }
ul li {
  color:black;
  padding-bottom: 25px;
}
  .flip-card {
  background-color: transparent;
  width:450px;
  height:300px;
  perspective: 1000px;
align-items:"center";
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
align-items:"center";}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
align-items:"center";}

.flip-card-front {
  background-color: #bbb;
  color: black;
  z-index: 2;
align-items:"center";
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
align-items:"center";
}
  #title {
    font-size: 70px;
    color: black;  
  }
  #p {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: black;
    font-size: 30px;
  }
body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: rgba(6,210,251,1);
  position: fixed;
  width: 100%;
  top: 0;
}
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: Yellow;
  color: black;
}

 .parallax {
/*  background-image: url("file:///Users/alexander.chow/Desktop/CleanWaterSDG.png");*/
/*
  background: rgb(60,5,164);
  background: linear-gradient(180deg, rgba(60,5,164,1) 0%, rgba(24,247,179,1) 100%); 
*/
  background: rgb(60,5,164);
  background: linear-gradient(0deg, rgba(60,5,164,1) 0%, rgba(24,247,179,1) 100%); 
  min-height: 200px ; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.active{
    background-color:Blue;
    color:White;
}
body {
    background-color: #e1eff7;
